body{
    background-color: #404045;
}

.title{
    color: #fff;
    font-family: font;
    text-align: center;
    font-size: 700%;
    padding: 50px;
}

@font-face {
  font-family: font;
  src: url(Metro.otf);
}

.youtubeButton{
  width: 300px;
  height: 100px;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  translate: -50% 0;
}

.silverspace{
  width: 10px;
  height: 5px;
  border: 0;
  position: absolute;
  bottom: 1%;
}