body{
    background-color: #404045;
}

.title{
    color: #fff;
    font-family: font;
    text-align: center;
    font-size: 700%;
    padding: 50px;
}

@font-face {
  font-family: font;
  src: url(Metro.otf);
}